body {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/decorations/background.svg);
  background-size: 20%;
  background-position-x: -10px;
  background-position-y: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcomebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-bottom: 0px;
}

.welcomebox a {
  width: 100%;
  margin-bottom: 10px;
}

.welcomebox span {
  font-weight: bold;
}

.welcomebox #game_code {
  text-transform: uppercase;
}

.game-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-info .gamebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.game-info .gamebox h1 {
  margin-top: 0;
}

.game-info .gamebox span {
  font-weight: bold;
}

.game-info .useroverview {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.game-info .useroverview .player-box {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-info .useroverview .player-box:nth-child(odd) {
  margin-left: 0px;
}

.game-info .useroverview .player-box:nth-child(even) {
  margin-right: 0px;
}

.infoText {
  font-size: 1em;
  margin: 5px;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.mwglogo {
  height: 30px;
  border: none;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mwglogo:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

.version {
  font-size: 1rem;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: black;
  margin: 0;
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=lobby.css.map */